@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:400, 700);

* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  background: #fafaf9;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 960px;
}

.header {
  background: #34d6c6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  width: 100%;
  align-items: center;
  color: #ffffff;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 5px;
}

.header__name {
  font-weight: bold;
}

.header__icon {
  font-size: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0 3px;
}

.header__icon:hover {
  color: #ed4956;
}

.header__navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_menu {
  margin: 0 5px;
}

.header__item {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 0 3px;
}

.header__item:hover {
  color: #747574;
}

.news {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 10px;
}

@media only screen and (min-width: 680px) {
  .news {
    grid-template-columns: 1fr 1fr;
  }

  .news-1 {
    grid-column: 1/ span 2;
  }

  .news-7 {
    grid-column: 2/ span 2;
  }
}

@media only screen and (min-width: 850px) {
  .news {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.news__card {
  background: white;
  text-decoration: none;
  color: #444;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.news__card article {
  padding: 20px;
}

.news__card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.news__card p {
  line-height: 1.4;
}

.news__card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.news__card .news__image {
  width: 100%;
}

.news__card article {
  padding: 20px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__card p {
  flex: 1;
  line-height: 1.4;
}

.footer {
  background: #34d6c6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  width: 100%;
  height: 60px;
  align-items: center;
  color: #ffffff;
}

.footer__info {
  margin-left: 10px;
}

.footer_text {
  font-size: 14px;
}

.footer__list {
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__social {
  margin: 0 20px;
}

.footer__social:last-child {
  margin-right: 10px;
}

.footer_icon {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.twitter-icon a :hover {
  color: #1da1f2;
}

.facebook-icon a :hover {
  color: #3c5898;
}

.instagram-icon a:hover {
  color: #dd2a72;
}
