@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:400, 700);

* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  background: #fafaf9;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 960px;
}

.header {
  background: #34d6c6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  width: 100%;
  align-items: center;
  color: #ffffff;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__name {
  font-weight: bold;
  font-size: 35px;
}

.header__icon {
  font-size: 45px;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0 3px;
}

.header__icon:hover {
  color: #ed4956;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 5px;
}

.header_menu {
  margin: 0 5px;
}

.header__item {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 0 10px;
}

.header__item:hover {
  color: #747574;
}

.content {
  height: 572px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  height: 45px;
  margin: 0 auto;
  color: #ffffff;
  background: #34d6c6;
}

.footer__info {
  margin-left: 10px;
}

.footer_text {
  font-size: 14px;
}

.footer__list {
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__social {
  margin: 0 20px;
}

.footer__social:last-child {
  margin-right: 10px;
}

.footer_icon {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.twitter-icon a :hover {
  color: #1da1f2;
}

.facebook-icon a :hover {
  color: #3c5898;
}

.instagram-icon a:hover {
  color: #dd2a72;
}
