.news {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 10px;
}

@media only screen and (min-width: 680px) {
  .news {
    grid-template-columns: 1fr 1fr;
  }

  .news-1 {
    grid-column: 1 / span 2;
  }

  .news-7 {
    grid-column: 2 / span 2;
  }
}

@media only screen and (min-width: 850px) {
  .news {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.news__card {
  background: #fff;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.news__card article {
  padding: 20px;
}

.news__card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.news__card p {
  line-height: 1.4;
}

.news__card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.news__card .news__image {
  width: 100%;
}

.news__card article {
  padding: 20px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__card p {
  flex: 1;
  line-height: 1.4;
}
